body{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #74A608;
    width: 100%;
    display: flex;
}

.content{
    align-items: center;
    columns: 20 20rem;
    column-gap: 10px;
    margin: 10px;
}

img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}


