.commented{
    width: 100%;
    height: 25%;
    display: flex;

    border: 1px solid black;
}

.commented-text{
    padding-top: 10px;
    padding-left: 5px;
}

#commented-icon-image{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 100%;
}

#commeted-username{
    font-weight: 600;
}